body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #000, #222);
  color: #fff;
  min-height: 100vh;
}

header {
  background-color: #000;
  color: #ff0000;
  padding: 1rem;
  text-align: center;
  border-bottom: 2px solid #ff0000;
}

nav {
  background-color: #111;
  padding: 0.5rem;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #ff0000;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: 2rem auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  color: #fff;
}

h2 {
  color: #ff0000;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
button {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
}

button {
  background-color: #ff0000;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #cc0000;
}

/* Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content a,
.dropdown-content button {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover,
.dropdown-content button:hover {
  background-color: #ff0000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  padding: 1rem;
}